<h2><%= @restaurant.name %></h2>

<h4><%= @restaurant.address %></h4>

<h4><%= @restaurant.category.capitalize %></h4>

<p><strong>Reviews</strong></p>
<ul class="list-group py-3">
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.rating %> star rating</p>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>


<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary"%>
<%= link_to "Create a review", new_restaurant_review_path(@restaurant), class: "btn btn-secondary"%>
